[submodule "sddf"]
	path = dep/sddf
	url = https://github.com/ZGwtao/sddf.git
	branch = dynamic-vswitch-dev
[submodule "libtrustedlo"]
	path = dep/libtrustedlo
	url = https://github.com/ZGwtao/libtrustedlo.git
	branch = main
[submodule "libmicrokitco"]
	path = dep/libmicrokitco
	url = https://github.com/au-ts/libmicrokitco.git
[submodule "dep/uk-on-mk"]
	path = dep/uk-on-mk
	url = https://github.com/ZGwtao/uk-on-mk.git
[submodule "dep/microkit_sdf_gen"]
	path = dep/microkit_sdf_gen
	url = https://github.com/au-ts/microkit_sdf_gen.git
[submodule "dep/microkit"]
	path = dep/microkit
	url = https://github.com/au-ts/dynamic-microkit
[submodule "dep/sel4"]
	path = dep/sel4
	url = https://github.com/au-ts/seL4.git
