[submodule "sddf"]
	path = dep/sddf
	url = https://github.com/ZGwtao/sddf.git
	branch = dynamic-vswitch-dev
[submodule "libtrustedlo"]
	path = dep/libtrustedlo
	url = https://github.com/ZGwtao/libtrustedlo.git
	branch = main
[submodule "libmicrokitco"]
	path = dep/libmicrokitco
	url = https://github.com/au-ts/libmicrokitco.git
[submodule "dep/uk-on-mk"]
	path = dep/uk-on-mk
	url = https://github.com/ZGwtao/uk-on-mk.git
